<div class="payment-form klarna-invoice-form" id="klarnaInvoice">
    <h3>FaKtura</h3>
    <h3>Betal om 14 dager</h3>

    <span id="invoicexx"></span>

    <script src="https://cdn.klarna.com/public/kitt/core/v1.0/js/klarna.min.js"></script>
    <script src="https://cdn.klarna.com/public/kitt/toc/v1.1/js/klarna.terms.min.js"></script>

    <script>
        new Klarna.Terms.Invoice({
            el: 'invoicexx',
            eid: '{{ form.klarna_invoice.vars.attr.EID }}',
            locale: 'nb_no',
            charge: 0,
            type: 'desktop'
        });
    </script>

    {% include '@klarna/errorInvoice.twig' %}

    {{ form_widget(form.klarna_invoice) }}

</div>
<script>
    var errorMsgDateBirthMandatory = "Fødsel er nødvendig";
    var errorMsgDateBirthWrong = "false fødsel";
    var errorMsgPNOMandatory = "PNO er nødvendig";
    var errorMsgTermsMandatory = "Forhold er nødvendig";
    var errorMsgPaymentTypeMandatory = "Betaling kreves";
</script>
